---
title: Subscription confirmed!
description: You're officially confirmed and on the list. Expect some great emails headed your way very soon.
---
<div class="mt-8 flex h-48 justify-center">
  <div class="rounded bg-opacity-60 bg-gradient-to-br from-teal-600 to-teal-800 p-8 shadow-lg">
    <h1 class="mb-4 text-2xl font-bold">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>
