---
title: Subscription confirmed!
description: You're officially confirmed and on the list. Expect some great emails headed your way very soon.
---
<div class="prose prose-invert flex justify-center">
  <div class="px-8 pb-8 rounded bg-opacity-60 bg-gradient-to-br from-teal-600 to-teal-800 shadow-lg">
    <h2>{{ page.title }}</h1>

    <p>{{ page.description }}</p>

    <p>Click <a href="/">here</a> if you'd like to know a bit more about the author.</p>
  </div>
</div>
