<div class="flex-1 flex flex-col min-h-0 bg-gray-800">
  <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
    {% render 'sidebar/logo' %}
    <nav class="mt-5 flex-1 px-2 space-y-1">
      {% render 'sidebar/navigation', current_url: current_url, collections: collections %}
    </nav>
  </div>

  {% render 'sidebar/session_booking_button' %}
</div>
