<div class="flex min-h-0 flex-1 flex-col bg-gray-800">
  <div class="flex flex-1 flex-col overflow-y-auto pb-4 pt-5">
    {% render 'sidebar/logo' %}
    <nav class="mt-5 flex-1 space-y-1 px-2">
      {% render 'sidebar/navigation', current_url: current_url, collections: collections %}
    </nav>
  </div>

  {% render 'sidebar/session_booking_button' %}
</div>
