<button
  class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
  type="button"
  x-on:click="mobileMenuOpen = ! mobileMenuOpen"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    aria-hidden="true"
    class="h-6 w-6"
    fill="none"
    stroke="currentColor"
    viewbox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </svg>
</button>
