<!-- Off-canvas menu overlay, show/hide based on off-canvas menu state. -->
<div
  aria-hidden="true"
  class="fixed inset-0 bg-gray-600 bg-opacity-75"
  x-on:click="mobileMenuOpen = ! mobileMenuOpen"
  x-show="mobileMenuOpen"
  x-transition:enter-end="opacity-75"
  x-transition:enter-start="opacity-0"
  x-transition:enter="transition-opacity ease-linear duration-300"
  x-transition:leave-end="opacity-0"
  x-transition:leave-start="opacity-75"
  x-transition:leave="transition-opacity ease-linear duration-300"
></div>

<!-- Off-canvas menu, show/hide based on off-canvas menu state. -->
<div
  class="relative flex w-full max-w-xs flex-1 flex-col bg-gray-800"
  x-show="mobileMenuOpen"
  x-transition:enter-end="translate-x-0"
  x-transition:enter-start="-translate-x-full"
  x-transition:enter="transition ease-in-out duration-300 transform"
  x-transition:leave-end="-translate-x-full"
  x-transition:leave-start="translate-x-0"
  x-transition:leave="transition ease-in-out duration-300 transform"
>
  <!-- Close button, show/hide based on off-canvas menu state. -->
  <div
    class="absolute right-0 top-0 -mr-12 pt-2"
    x-show="mobileMenuOpen"
    x-transition:enter-end="opacity-100"
    x-transition:enter-start="opacity-0"
    x-transition:enter="ease-in-out duration-300"
    x-transition:leave-end="opacity-0"
    x-transition:leave-start="opacity-100"
    x-transition:leave="ease-in-out duration-300"
  >
    <button
      class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
      type="button"
      x-on:click="mobileMenuOpen = ! mobileMenuOpen"
    >
      <span class="sr-only">Close sidebar</span>
      <!-- Heroicon name: outline/x -->
      <svg
        aria-hidden="true"
        class="h-6 w-6 text-white"
        fill="none"
        stroke="currentColor"
        viewbox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
    </button>
  </div>

  <div class="h-0 flex-1 overflow-y-auto pb-4 pt-5">
    {% render 'sidebar/logo' %}
    <nav class="mt-5 space-y-1 px-2">
      {% render 'sidebar/navigation', current_url: current_url, collections: collections %}
    </nav>
  </div>

  {% render 'sidebar/session_booking_button' %}
</div>

<div class="w-14 flex-shrink-0">
  <!-- Force sidebar to shrink to fit close icon -->
</div>
