{% rendercontent "sidebar/navigation_link", url: "/", title: "Home", current_url: current_url %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/coaching/", title: "Coaching", current_url: current_url %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path d="M12 14l9-5-9-5-9 5 9 5z" />
<path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
<path
  d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/writing/", title: "Writing", current_url: current_url %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/speaking/", title: "Speaking", current_url: current_url %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

<h4 class="px-2 pb-2 pt-5 text-xs font-semibold text-gray-100 text-opacity-40">Email Courses</h4>

{% rendercontent "sidebar/navigation_link", url: "https://courses.stephendolan.com/productivity-intro", title: "Supercharge your Systems", current_url: current_url, external: true %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  stroke-linecap="round"
  stroke-linejoin="round"
  d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25"
/>
{% endwith %}
{% endrendercontent %}

<h4 class="px-2 pb-2 pt-5 text-xs font-semibold text-gray-100 text-opacity-40">Resources</h4>

{% rendercontent "sidebar/navigation_link", url: "/assets/omnifocus-perspectives", title: "Custom Perspectives" %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/assets/omnifocus-project-templates", title: "Project Templates" %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/assets/keyboard-maestro", title: "Keyboard Maestro Macros" %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
{% endwith %}
{% endrendercontent %}

<h4 class="px-2 pb-2 pt-5 text-xs font-semibold text-gray-100 text-opacity-40">Online</h4>

{%
  rendercontent "sidebar/navigation_link", url: "https://twitter.com/Stephen_Dolan", title: "Twitter", external_link:
  true
%}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

{%
  rendercontent "sidebar/navigation_link", url: "https://www.linkedin.com/in/dolanstephen/", title: "LinkedIn", external_link:
  true
%}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  stroke-linecap="round"
  stroke-linejoin="round"
  d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21"
/>
{% endwith %}
{% endrendercontent %}

{%
  rendercontent "sidebar/navigation_link", url: "mailto:stephen@stephendolan.com", title: "Email", external_link:
  true
%}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
/>
{% endwith %}
{% endrendercontent %}

{% rendercontent "sidebar/navigation_link", url: "/garden", title: "Gardening", external_link: false %}
<!-- Use the Heroicon "Outline" variant -->
{% with svg_path %}
<path
  stroke-linecap="round"
  stroke-linejoin="round"
  d="M12 12.75c1.148 0 2.278.08 3.383.237 1.037.146 1.866.966 1.866 2.013 0 3.728-2.35 6.75-5.25 6.75S6.75 18.728 6.75 15c0-1.046.83-1.867 1.866-2.013A24.204 24.204 0 0112 12.75zm0 0c2.883 0 5.647.508 8.207 1.44a23.91 23.91 0 01-1.152 6.06M12 12.75c-2.883 0-5.647.508-8.208 1.44.125 2.104.52 4.136 1.153 6.06M12 12.75a2.25 2.25 0 002.248-2.354M12 12.75a2.25 2.25 0 01-2.248-2.354M12 8.25c.995 0 1.971-.08 2.922-.236.403-.066.74-.358.795-.762a3.778 3.778 0 00-.399-2.25M12 8.25c-.995 0-1.97-.08-2.922-.236-.402-.066-.74-.358-.795-.762a3.734 3.734 0 01.4-2.253M12 8.25a2.25 2.25 0 00-2.248 2.146M12 8.25a2.25 2.25 0 012.248 2.146M8.683 5a6.032 6.032 0 01-1.155-1.002c.07-.63.27-1.222.574-1.747m.581 2.749A3.75 3.75 0 0115.318 5m0 0c.427-.283.815-.62 1.155-.999a4.471 4.471 0 00-.575-1.752M4.921 6a24.048 24.048 0 00-.392 3.314c1.668.546 3.416.914 5.223 1.082M19.08 6c.205 1.08.337 2.187.392 3.314a23.882 23.882 0 01-5.223 1.082"
/>
{% endwith %}
{% endrendercontent %}
