---
title: OmniFocus and GTD Coaching
description: Sign up for my free email course or get personalized coaching to improve your systems.
---
<div
  class="prose prose-invert relative mx-auto max-w-6xl overflow-hidden"
>
  <section class="mx-auto rounded-md bg-zinc-900 bg-opacity-60 px-8 py-12 shadow">
    <h1 class="text-center">I'm pretty good at Getting Things Done</h1>

    <p class="text-xl leading-8">
      I've helped lots of people improve their organization, shore up weaknesses in their system, and think about things
      differently.
    </p>

    <p class="mt-12 text-xl leading-8">
      Want to get five strategies I share with my clients delivered straight to your email inbox?
    </p>

    <script
      async
      data-uid="7a88af4099"
      src="https://stephendolan.ck.page/7a88af4099/index.js"
    ></script>

    <p class="mt-12 text-xl leading-8">
      If you're ready to get straight into a 1-on-1 session, you can book time with me
      <a class="font-medium text-teal-400 no-underline hover:text-teal-500" href="/coaching/book">here</a>.
    </p>
  </section>

  <section class="mx-auto mt-5 rounded-md bg-zinc-900 bg-opacity-60 px-8 py-12 shadow">
    <h1 class="text-center">What clients have to say</h1>

    <div class="space-y-16">
      <figure>
        <blockquote class="text-lg font-semibold leading-8 text-white sm:text-xl sm:leading-9">
          <p>Stephen changed my life.</p>
        </blockquote>
        <figcaption class="mt-4 text-base">
          <div class="font-semibold text-white">
            Dylan Jhaveri
            <a
              href="https://twitter.com/dylanjha/status/1701650297461039498"
              target="_blank"
              class="font-thin text-gray-400 no-underline hover:text-gray-200"
              >(@dylanjha)</a
            >
          </div>
          <div class="mt-1 text-gray-400">Director at Mux</div>
        </figcaption>
      </figure>

      <figure>
        <blockquote class="text-lg font-semibold leading-8 text-white sm:text-xl sm:leading-9">
          <p>It was worth every penny. I feel more organized and have more clarity than I've had in a long time.</p>
        </blockquote>
        <figcaption class="mt-8 text-base">
          <div class="font-semibold text-white">
            Adam McCrea
            <a
              href="https://twitter.com/adamlogic/status/1505562312610304002"
              target="_blank"
              class="font-thin text-gray-400 no-underline hover:text-gray-200"
              >(@adamlogic)</a
            >
          </div>
          <div class="mt-1 text-gray-400">Founder of Judoscale</div>
        </figcaption>
      </figure>

      <figure>
        <blockquote class="text-lg font-semibold leading-8 text-white sm:text-xl sm:leading-9">
          <p>@Stephen_Dolan is ludicrously good at practicing Getting Things Done with OmniFocus.</p>
        </blockquote>
        <figcaption class="mt-8 text-base">
          <div class="font-semibold text-white">
            Ben Orenstein
            <a
              href="https://twitter.com/r00k/status/1471475464795754497"
              class="font-thin text-gray-400 no-underline hover:text-gray-200"
              >(@r00k)</a
            >
          </div>
          <div class="mt-1 text-gray-400">Head of Product at Tuple</div>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="mx-auto mt-5 rounded-md bg-zinc-900 bg-opacity-60 px-8 py-12 shadow">
    <h1 class="text-center">Looking for the same experience?</h1>
    <div class="mx-auto mt-12 grid max-w-md grid-cols-1 gap-4 text-center">
      <button
        class="rounded-md bg-teal-600 px-7 py-5 text-lg font-semibold text-white shadow-sm hover:bg-teal-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600"
      >
        <a href="/coaching/book" class="font-semibold text-gray-100 no-underline">Book time with me</a>
      </button>
    </div>
  </section>

  <section class="mx-auto mt-5 rounded-md bg-zinc-900 bg-opacity-60 px-8 py-12 shadow">
    <h1 class="text-center">Me talking about productivity</h1>

    <div>
      <p>I was featured on The Omni Show, a podcast produced by the company that makes OmniFocus!</p>

      {% render 'embeds/spotify_podcast', episode_id: '3jTtNl2QFAVKnXfIDRvcvf' %}
    </div>

    <div>
      <p>I was lucky enough to chat about Getting Things Done with the founders of Tuple and SavvyCal.</p>

      {% render 'embeds/spotify_podcast', episode_id: '4mgJ7HZBBotAtLbwHJo5Xr' %}
    </div>

    <div>
      <p>I helped Adam Wathan with some personal productivity tips, too. (Timestamp 42:32)</p>

      {% render 'embeds/spotify_podcast', episode_id: '4MDmeGUMf3MegUqmYHy0Q3', start_seconds: 2551 %}
    </div>
  </section>
</div>
