<div aria-labelledby="modal-title" aria-modal="true" class="fixed z-10 inset-0 overflow-y-auto" role="dialog" x-show="modalOpen">
  <div class="min-h-screen pt-4 px-4 pb-20 text-center sm:p-0">
    <!-- Background overlay, show/hide based on modal state.  -->
    <div aria-hidden="true" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" x-on:click="modalOpen = ! modalOpen" x-show="modalOpen" x-transition:enter-end="opacity-100" x-transition:enter-start="opacity-0" x-transition:enter="ease-out duration-300" x-transition:leave-end="opacity-0" x-transition:leave-start="opacity-100" x-transition:leave="ease-in duration-200"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span aria-hidden="true" class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

    <!-- Modal panel, show/hide based on modal state.  -->
    <div class="inline-block mx-auto max-w-2xl px-4 sm:px-6 transform transition-all" x-show="modalOpen" x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:enter="ease-out duration-300" x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200">
      <div class="relative rounded-2xl px-6 py-10 bg-teal-900 overflow-hidden shadow-xl sm:px-12 sm:py-20">
        <div aria-hidden="true" class="absolute inset-0 mt-72 sm:-mt-32 md:mt-0">
          <svg class="absolute inset-0 h-full w-full" fill="none" preserveaspectratio="xMidYMid slice" viewbox="0 0 1463 360" xmlns="http://www.w3.org/2000/svg">
            <path class="text-teal-500 text-opacity-40" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" fill="currentColor"/>
            <path class="text-teal-700 text-opacity-40" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" fill="currentColor"/>
          </svg>
        </div>
        <div class="relative">
          <div class="sm:text-center">
            <h2 class="text-2xl font-extrabold text-white tracking-tight sm:text-3xl">
              Get updates when I post
            </h2>
            <p class="mt-6 mx-auto max-w-2xl text-lg text-teal-200">
              If you want to get an email notification when I write new stuff, drop your email below.
            </p>
          </div>

          <form class="mt-12 sm:mx-auto sm:max-w-lg sm:flex" data-netlify="true" data-turbo="false" method="POST" name="writing-subscribers" netlify-honeypot="test-field">
            <div class="hidden">
              <label>
                Don’t fill this out if you’re human:
                <input name="test-field"/>
              </label>
            </div>

            <div class="min-w-0 flex-1">
              <label class="sr-only" for="cta-email">Email address</label>
              <input class="block w-full border border-transparent rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-teal-600" id="cta-email" name="email" placeholder="Enter your email" required type="email">
            </div>

            <div class="mt-4 sm:mt-0 sm:ml-3">
              <button class="block w-full rounded-md border border-transparent px-5 py-3 bg-teal-500 text-base font-medium text-white shadow hover:bg-teal-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-teal-600 sm:px-10" type="submit">Notify me</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
